$my-gray: #3a3a3a;
$my-green: #98BCBD;
$my-pink: #C3A9AF;
$my-red: #D75587;
$my-blue: #5FAFAF;
$my-orange: #FFAF87;

////////////////////////////////////////////////////////////////////////////////
// Global element styles/defaults
////////////////////////////////////////////////////////////////////////////////
a {
    color: $my-blue;
}
//a:visited {
//    color: $my-pink;
//}


////////////////////////////////////////////////////////////////////////////////
// Top-level styles
////////////////////////////////////////////////////////////////////////////////

// Router Top/Layout
.Layout {
  background-color: $my-gray;
  text-align: center;
  height: 100%;
  color: $my-green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  // App to top, footer to bottom
}
// App (router page)
.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  background-color: $my-green;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: $my-gray;
  padding-bottom: 30px;
}

.App-header > * {
  margin: 5px;
}

.App-body {
  background-color: $my-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: $my-green;
  padding: 50px;
}

// Site Footer - present in all router pages - part of Layout
.Footer {
  background-color: $my-green;
  color: $my-gray;
  padding: 50px;
}
.Footer > * {
    padding: 10px;
}
.Footer > a {
    color: $my-gray;
}
//.Footer > a:visited {
//    color: $my-orange;
//}

////////////////////////////////////////////////////////////////////////////////
// Effects and animations
////////////////////////////////////////////////////////////////////////////////
.typewriter-container {
  // required in parent to typewrite text to prevent cursor from extending width
  display: inline-block;
}
.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2.5s ease-in-out;
    animation-direction: alternate;
  }
  .typewriter {
    border-right: .70em solid $my-gray;
    letter-spacing: .15em;
    animation:
      typing 1.5s steps(25, end),
      blink-caret .75s step-end infinite;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(-2deg);
  }
  to {
    transform: rotate(2deg);
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $my-gray; }
}
@keyframes blink-caret-green {
  from, to { border-color: transparent }
  50% { border-color: $my-green; }
}
