////////////////////////////////////////////////////////////////////////////////
// Global Constants
////////////////////////////////////////////////////////////////////////////////
// Sizes
$max-mobile-width: 800px;

// Colors
$vim-white: #D0D0D0;
$vim-yellow-white: #D7D7AF;
$vim-gray: #3A3A3A;
$vim-black: #303030;
$vim-light-green: #98BCBD;
$vim-dark-green: #5F875F;
$vim-pink: #C3A9AF;
$vim-red: #D75587;
$vim-blue: #5FAFAF;
$vim-light-blue: #87AFD7;
$vim-green-blue: #87AFAF;
$vim-orange: #FFAF87;
$vim-brown: #D7AF5F;
$vim-yellow: #FFD787;


////////////////////////////////////////////////////////////////////////////////
// Common mixins
////////////////////////////////////////////////////////////////////////////////
@mixin noMarginNoPadding {
    margin: 0px;
    padding: 0px;
}
@mixin noPadding {
    padding: 0px;
}
@mixin minorMargin {
    margin-top: 25px;
    margin-bottom: 25px;
}


////////////////////////////////////////////////////////////////////////////////
// Global element styles/defaults
////////////////////////////////////////////////////////////////////////////////
a {
    color: $vim-blue;
}
a:visited {
    color: $vim-dark-green;
}

h2 {
    color: $vim-green-blue;
}

////////////////////////////////////////////////////////////////////////////////
// Top-level styles
////////////////////////////////////////////////////////////////////////////////

// Router Top/Layout
.Layout {
  background-color: $vim-gray;
  text-align: center;
  height: 100%;
  color: $vim-white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  // App to top, footer to bottom
}
// App (router page)
.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  max-height: 300px;
  pointer-events: none;
  padding-bottom: 10px;
}

.App-header {
  background-color: $vim-green-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: $vim-gray;
  padding-bottom: 30px;
}

.App-header > * {
  margin: 5px;
}

.App-body {
  background-color: $vim-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: $vim-white;
  padding: 50px;
}

// Site Footer - present in all router pages - part of Layout
.Footer {
  background-color: $vim-green-blue;
  color: $vim-gray;
  padding: 50px;
}
.Footer > * {
    padding: 10px;
}
.Footer > a {
    color: $vim-gray;
}
//.Footer > a:visited {
//    color: $vim-gray;
//}


////////////////////////////////////////////////////////////////////////////////
// Sub-component and per-element styles
////////////////////////////////////////////////////////////////////////////////
.projects {
    background-color: $vim-black;
    width: fit-width;
    padding-left: 25px;
    padding-right: 25px;
}
.vertical-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagePreview {
    padding-top: 5px;
    padding-bottom: 5px;
    width: auto;
    max-width: 100%;
    max-height: 500px;
}
.galleryImage {
    padding-top: 20px;
    padding-bottom: 20px;
    width: auto;
    max-width: 100%;
    max-height: 500px;
}
.galleryImageLong {
    padding-top: 20px;
    padding-bottom: 20px;
    width: auto;
    max-width: 100%;
    max-height: 1000px;
}
.galleryImageXLong {
    padding-top: 20px;
    padding-bottom: 20px;
    width: auto;
    max-width: 100%;
    height: 1430px;
}
@media only screen and (max-width: $max-mobile-width) {
  .imagePreview {
      max-width: 200px;
      height:auto;
  }
  .galleryImage {
      max-width: 400px;
      height:auto;
  }
  .galleryImageLong {
      max-width: 400px;
      height:auto;
  }
  .galleryImageXLong {
      max-width: 400px;
      height:auto;
  }
}


////////////////////////////////////////////////////////////////////////////////
// Farmgod Styles
////////////////////////////////////////////////////////////////////////////////
@font-face {
  font-family: 'Staatliches', cursive;
  src: local('Staatliches'), url(fonts/Staatliches-Regular.ttf) format('truetype');
}
@mixin farmgod-font {
  font-family: 'Staatliches';
}
$rich-black-fogra-39: #0c0f0aff;
$winter-sky: #ff206eff;
$lemon-glacier: #fbff12ff;
@mixin mainGradient {
  background: linear-gradient(90deg, $winter-sky, $lemon-glacier);
}
.farmgod-title {
  font-size: 1.3rem;
  letter-spacing: 5px;
  text-decoration: none;
  @include minorMargin;
  @include noPadding;
  @include farmgod-font;

  span {
    @include mainGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 4px $winter-sky)
  }
}
.farmgod-h1 {
  @include minorMargin;
  @include noPadding;
}
.h2.farmgod-title {
    font-size: 2.5rem;
}
////////////////////////////////////////////////////////////////////////////////
// Cult NFTs
////////////////////////////////////////////////////////////////////////////////
.cult-title {
  font-size: 3.0rem;
  color: whitesmoke;
  font-family: sans-serif;
  text-decoration: none;
  @include minorMargin;
  @include noPadding;
}
.cult-title:visited {
  color: whitesmoke;
}
.h1.cult-title {
    font-size: 3rem;
}
////////////////////////////////////////////////////////////////////////////////
// Fantomon Styles
////////////////////////////////////////////////////////////////////////////////
$fantomon-yellow: #E9AB5F;
@font-face {
  font-family: 'Press Start 2P';
  src: local('Press Start 2P'), url(fonts/PressStart2P-vaV7.ttf) format('truetype');
}
@mixin fantomon-font {
  font-family: 'Press Start 2P', cursive;
}
.fantomon-title {
  color: $fantomon-yellow;
  font-size: 2.0rem;
  text-shadow: .12rem .12rem #cdfddf;
  background-color: transparent;
  display: flex;
  justify-content: center;
  padding: 15px;
  z-index: 2;
  text-decoration: none;
  @include minorMargin;
  @include noPadding;
  @include fantomon-font;
}
.fantomon-title:visited {
  color: $fantomon-yellow;
}
.h1.fantomon-title {
    font-size: 2.5rem;
}


////////////////////////////////////////////////////////////////////////////////
// Effects and Animations
////////////////////////////////////////////////////////////////////////////////
.typewriter-container {
  // required in parent to typewrite text to prevent cursor from extending width
  display: inline-block;
}
.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2.5s ease-in-out;
    animation-direction: alternate;
  }
  .typewriter {
    border-right: .70em solid $vim-gray;
    letter-spacing: .15em;
    animation:
      typing 1.5s steps(25, end),
      blink-caret .75s step-end infinite;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(-2deg);
  }
  to {
    transform: rotate(2deg);
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $vim-gray; }
}
@keyframes blink-caret-green {
  from, to { border-color: transparent }
  50% { border-color: $vim-light-green; }
}
